**Interpolasi**

2004137
Indah Novita Sari BR Ginting

1. Lagrange

In [2]:
#Mengimport library 
import numpy as np

#Menginput jumlah titik yang diketahui
n = int(input('Enter number of data points: '))

#Membuat matriks nxn
x = np.zeros((n))
y = np.zeros((n))

#Memasukan koefisien dan hasil
# Reading data points
print('Enter data for x and y: ')
for i in range(n):
    x[i] = float(input( 'x['+str(i)+']='))
    y[i] = float(input( 'y['+str(i)+']='))

#Mencari titik 
xp = float(input('Enter interpolation point: '))

yp = 0

#Implementasi
for i in range(n):
    
    p = 1

    for j in range(n):
        if i != j:
            p = p * (xp - x[j])/(x[i] - x[j])
    
    yp = yp + p * y[i]    
1
print('Interpolated value at %.3f is %.3f.' % (xp, yp))

Enter number of data points: 2
Enter data for x and y:
x[0]=2
y[0]=1
x[1]=1
y[1]=4
Enter interpolation point: 3
Interpolated value at 3.000 is -2.000.

2. Polinom Newton

In [6]:
import numpy as np
#Memasukan berapa banyak titik yang diketahui
n = int(input('Enter number of data points: '))

#Membuat array 
x = np.zeros((n))
y = np.zeros((n,n))


#Membaca data
print('Enter data for x and y: ')
for i in range(n):
    x[i] = float(input( 'x['+str(i)+']='))
    y[i][0] = float(input( 'y['+str(i)+']='))
    
#Membuat tabel
for i in range(1,n):
    for j in range(0,n-i):
        y[j][i] = (y[j+1][i-1] - y[j][i-1])

        
print('\nKonversi ke tabel\n');

for i in range(0,n):
    print('%f' %(x[i]), end='')
    for j in range(0, n-i):
        print('\t\t%f' %(y[i][j]), end='')
    print()

Enter number of data points: 2
Enter data for x and y:
x[0]=3
y[0]=4
x[1]=6
y[1]=7

Konversi ke tabel

3.000000		4.000000		3.000000
6.000000		7.000000